<div class="card">
  <img [src]="[recipe().image]" alt="recipe image" class="card-image" />
  <div class="title-container">
    <div class="title">
      {{ recipe().title }}
    </div>
    <mat-icon
      aria-hidden="false"
      aria-label="star icon"
      fontIcon="star"
      [ngStyle]="{ color: getStarColor() }"
      matTooltip="{{ getTooltipMessage() }}"
      (click)="onIconClick()"
    ></mat-icon>
  </div>
  <div class="time">Ready in {{ recipe().readyInMinutes }} minutes</div>
  <div>
    <button
      mat-button
      id="btn-open"
      [routerLink]="['/details', recipe().id]"
      routerLinkActive="active"
    >
      Check details
    </button>
  </div>
</div>
