html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

h1 {
  text-align: center;
  font-size: 2.5rem !important;
  margin: 1rem !important;
}

@media screen and (max-width: 600px) {
  h1 {
    font-size: 2rem !important;
  }
}

div.mat-mdc-menu-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
